.title {
  font-size: 40px;
  text-align: center;
}

.moviesList {
  margin-left: 25px;
}

.moviesListItem {
  margin-bottom: 10px;
}
.moviesName {
  font-size: 18px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.moviesName:hover {
  color: #ff6b08;
}
